@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

q{
	font-style: italic;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] header{
	text-align: right;
}

[epub|type~="z3998:sender"]{
	font-variant: small-caps;
}

#chapter-9 blockquote,
#chapter-21 blockquote:nth-of-type(3){
	text-align: center;
	font-variant: small-caps;
}

#chapter-32 blockquote{
	text-align: center;
}
